* {
    text-align: center;
}
body {
    
text-align:center;
   
}
img {
    margin-top: 100px;
    border-radius: 50%;
    margin-bottom: 50px;
}
#welcome {
    position: absolute;
    height: 700px;
    left: 0px;
    top:0px;
    bottom: 0px;
    right: 0px;
    background: linear-gradient(#D151AF 0%,#D15151 100%)
}
h1 {
    color: crimson;
}
.tb {
    float: left;
   padding-left: 33px;
    padding-right: 23px
    border-style: outset;
    border-color: darkmagenta;
    cursor: pointer;  
    font-size: 25px;
    text-shadow: 1px 1px 2px pink;
}